.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  display: flex;
  flex-direction: column;
  border: 1px solid #dadada;
  background-color: var(--surface-1);
}

.cards .cards-card-body {
  display: flex;
  align-items: stretch;
  flex: 1;
}

.cards .cards-card-body,
.cards .button-container {
  margin: 16px;
}

.cards .button-container {
  flex-shrink: 0;
}

.cards .cards-card-image {
  line-height: 0;
  flex-shrink: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
