@import url("./open-props.css");
@import url("./normalize.css");
/* test2 */
*,
::after,
::before {
    box-sizing: border-box;
}

:where(:not(dialog)) {
  margin: 0;
}

:root {
  --content-max-width: 1600px;
  --section-padding-inline: 24px;
  --nav-height: 80px;
  --hero-image-offset: 30%;
  --section-vertical-spacing: 40px;
}

@media (min-width: 768px) {
  :root {
    --section-padding-inline: 80px;
    --section-vertical-spacing: 80px;
  }
}

body {
  margin: 0;
}

header {
  height: var(--nav-height);
  position: relative;
  z-index: 1;
}

h1 {
  display: inline-flex;
  align-items: center;

  sup {
    padding-inline: 2px 4px;
  }
}

h2, h3, h4, h5 {
  color: var(--gray-8);
}

.section:not(.nav-hamurger, .nav-brand, .nav-sections) > .default-content-wrapper {
  margin-block: var(--section-vertical-spacing) calc(var(--section-vertical-spacing)*.5);
}

.section:not(.hero-container, .nav-brand, .nav-sections, :has(.spotify-embed), .footer-container) > div {
  padding-inline: var(--section-padding-inline);
  max-width: 1200px;

  @media (min-width: 1024px) {
    padding-inline: calc(var(--section-padding-inline) * 2); 
    margin: 0 auto;
  }
}

img {
  max-width: 100%;
  height: auto;
}