@import "./open-props.css";
@import "./normalize.css";

*,
:after,
:before {
    box-sizing: border-box;
}

:where(:not(dialog)) {
  margin: 0;
}

:root {
  --content-max-width: 1600px;
  --section-padding-inline: 24px;
  --nav-height: 80px;
  --hero-image-offset: 30%;
  --section-vertical-spacing: 40px;
}

@media (min-width: 768px) {
  :root {
    --section-padding-inline: 80px;
    --section-vertical-spacing: 80px;
  }
}

body {
  margin: 0;
}

header {
  height: var(--nav-height);
}

h1 {
  display: inline-flex;
  align-items: center;

  sup {
    padding-inline: 2px 4px;
  }
}

.section:not(.nav-hamurger, .nav-brand, .nav-sections) > .default-content-wrapper {
  margin-block: var(--section-vertical-spacing) calc(var(--section-vertical-spacing)*.5);
}

.section:not(.hero-container, .footer-container) > div {
  padding-inline: var(--section-padding-inline);
  max-width: 1200px;

  @media (min-width: 1024px) {
    padding-inline: calc(var(--section-padding-inline) * 2); 
    margin: 0 auto;
  }
}

img {
  max-width: 100%;
  height: auto;
}